In [ ]:
# Problem statement:
# 1) Stock prices of 10 companies over 90 trading days are stored in a NumPy array.
# -> Task:
#   1. Calculate daily returns
#   2. Compute volatility (standard deviation) per stock
#   3. Identify the stock with the highest risk

In [1]:
import numpy as np

In [2]:
company_data = np.array([[152,153,151,150,152,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,
     169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,
     135,136,137,138,139,140,141,142,143,144,189,190,191,192,193,194,195,196,197,198,
     199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,
     219,220,221,222,223,224,225,226,227,228],

    [98,99,97,96,98,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,
     115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,
     135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,
     155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,
     135,136,137,138,139,140,141,142,143,144],

    [210,212,211,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,
     230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,
     250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,
     270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,
     135,136,137,138,139,140,141,142,143,144],

    [75,76,77,76,75,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,
     93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,
     113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,
     133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,
     283,284,285,286,287,288,289,135,136,145],

    [305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,
     325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,
     345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,
     365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,
     283,284,285,286,287,288,289,135,136,123],

    [45,46,47,46,45,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,
     63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,
     83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,
     103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,
     240,241,242,243,244,245,246,247,248,249],

    [180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,
     200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,
     220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,
     240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,
     190,191,192,193,194,195,196,197,198,199],

    [60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,
     80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,
     100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,
     120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,
     240,241,242,243,244,245,246,247,248,249],

    [500,498,497,499,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,
     517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,
     537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,
     557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,
     190,191,192,193,194,195,196,197,198,199],

    [130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,
     150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,
     170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,
     190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,
     190,191,192,193,194,195,196,197,198,199]
])

In [3]:
# Calculate daily returns of stock company wise
daily_returns = (np.diff(company_data, axis=1) )
print(daily_returns)

[[   1   -2   -1    2    2    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1  -53    1    1
     1    1    1    1    1    1    1   45    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1]
 [   1   -2   -1    2    2    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1  -39    1    1    1    1
     1    1    1    1    1]
 [   2   -1    2    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1 -154    1    1    1    1
     1    1    1    1    1]
 [   1    1   -1   -1    3    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1  131    1    1    1    1
     1    1 -154    1    9]
 [   1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1 -101    1    1    1    1
     1    1 -154    1  -13]
 [   1    1   -1   -1    3    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1  118    1    1    1    1
     1    1    1    1    1]
 [   1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1  -69    1    1    1    1
     1    1    1    1    1]
 [   1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1  101    1    1    1    1
     1    1    1    1    1]
 [  -2   -1    2    2    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1 -386    1    1    1    1
     1    1    1    1    1]
 [   1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1    1    1    1    1    1
     1    1    1    1    1    1    1    1    1  -19    1    1    1    1
     1    1    1    1    1]]

In [4]:
# Compute volatility (standard deviation) per stock.
volatility = np.std(daily_returns, axis=1)
print("Volatility (Standard Deviation) per stock:")
print(volatility)

Volatility (Standard Deviation) per stock:
[ 7.39351456  4.23233237 16.33946631 21.46252125 19.48777209 12.33994359
  7.37818209 10.54026013 40.78926539  2.10805203]

In [5]:
# Identify the stock with the highest risk.
highest_risk_stock = np.argmax(volatility)
print(f"Company with highest stock risk is: Company {highest_risk_stock + 1}")

Company with highest stock risk is: Company 9

In [ ]:
# Problem Statement: 
# 2) A DataFrame contains date, stock_name, open_price, and close_price.
# -> Task:
#   1. Calculate percentage daily return
#   2. Identify top gaining and losing stocks per month
#   3. Compute rolling volatility

In [6]:
import pandas as pd

In [7]:
stock_data = pd.read_csv("company_data.csv")
stock_data

           date stock_name  open_price  close_price
0    2025-01-01    Stock_A         152          153
1    2025-01-01    Stock_B          98           99
2    2025-01-01    Stock_C         210          212
3    2025-01-01    Stock_D          75           76
4    2025-01-01    Stock_E         305          306
..          ...        ...         ...          ...
295  2025-01-30    Stock_F          72           73
296  2025-01-30    Stock_G         209          210
297  2025-01-30    Stock_H          89           90
298  2025-01-30    Stock_I         526          527
299  2025-01-30    Stock_J         159          160

[300 rows x 4 columns]

In [8]:
# Calculate percentage daily return
stock_data['Daily Return'] = (stock_data['close_price'] - stock_data['open_price'])/ stock_data['open_price'] * 100
stock_data

           date stock_name  open_price  close_price  Daily Return
0    2025-01-01    Stock_A         152          153      0.657895
1    2025-01-01    Stock_B          98           99      1.020408
2    2025-01-01    Stock_C         210          212      0.952381
3    2025-01-01    Stock_D          75           76      1.333333
4    2025-01-01    Stock_E         305          306      0.327869
..          ...        ...         ...          ...           ...
295  2025-01-30    Stock_F          72           73      1.388889
296  2025-01-30    Stock_G         209          210      0.478469
297  2025-01-30    Stock_H          89           90      1.123596
298  2025-01-30    Stock_I         526          527      0.190114
299  2025-01-30    Stock_J         159          160      0.628931

[300 rows x 5 columns]

In [9]:
# Identify top gaining and losing stocks per month
stock_group = stock_data.groupby("stock_name")
return_sum = stock_group["Daily Return"].sum()
for x in return_sum.index:
    if return_sum[x] > 0:
        print(f"{x} is a Gaining Stock with total return of {return_sum[x]:.2f}%")
    else:
        print(f"{x} is a Losing Stock with total return of {return_sum[x]:.2f}%")

Stock_A is a Gaining Stock with total return of 16.43%
Stock_B is a Gaining Stock with total return of 24.51%
Stock_C is a Gaining Stock with total return of 13.39%
Stock_D is a Gaining Stock with total return of 31.99%
Stock_E is a Gaining Stock with total return of 9.40%
Stock_F is a Gaining Stock with total return of 49.05%
Stock_G is a Gaining Stock with total return of 15.45%
Stock_H is a Gaining Stock with total return of 40.83%
Stock_I is a Gaining Stock with total return of 5.27%
Stock_J is a Gaining Stock with total return of 20.84%

In [10]:
# Compute rolling volatility on return_sum
rolling_volatility = return_sum.rolling(window=3).std()
rolling_volatility

stock_name
Stock_A          NaN
Stock_B          NaN
Stock_C     5.746811
Stock_D     9.360533
Stock_E    12.059660
Stock_F    19.889121
Stock_G    21.358552
Stock_H    17.510028
Stock_I    18.311649
Stock_J    17.825119
Name: Daily Return, dtype: float64